[Unit]
Description=ip2v uWSGI daemon

[Service]
EnvironmentFile=-/etc/sysconfig/ip2w
ExecStart=/usr/bin/bash -c 'uwsgi --ini /usr/local/etc/ip2w.ini'

[Install]
WantedBy=multi-user.target